@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900');
body{
    background: #f5f5f5;
}
.section1:before {
    content: '';
    display: inline-block;
    }
.section1{
    height: 48px;
    width: 85%;
    text-align: left;
    margin: 22px auto;
}
.section1 *{margin: 0;
    padding: 0;
    }
h2{
    display: inline-block;
    font:700 48px Roboto, sans-serif;
    margin: 0 calc(1120 -21);
}
.su1{
    display: inline-block;
    margin-left: calc(100% - 288px - 355px);
    margin-bottom: 3px;
    vertical-align: super;
}
.a{
    display: inline-block;
    margin-left: 0;
    list-style-type: none;
    font:400 18px "Roboto", sans-serif;
    width: 150px;
}
.b{
    display: inline-block;
    width: 17px;
    margin-left: 30px;
}