@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900');
body{
    background: #f5f5f5;}
main{
    background: url("../img/headphone.png") calc(7vw + 400px) 0 no-repeat;
    margin: 0;
}
main:before {
    content: '';
    display: inline-block;
    }
.section1{
    width: 85%;
    text-align: left;
    margin: 22px auto;
}
.section1 *{margin: 0;
    padding: 0;
    }
h2{
    display: inline-block;
    font:700 48px Roboto, sans-serif;
    margin: 0 calc(1120 -21);
}
.su1{
    display: inline-block;
    margin-left: calc(100% - 288px - 355px);
    margin-bottom: 3px;
    vertical-align: super;
}
.a{
    display: inline-block;
    margin-left: 0;
    list-style-type: none;
    font:400 18px "Roboto", sans-serif;
    width: 150px;
}
.b{
    display: inline-block;
    width: 17px;
    margin-left: 30px;
}
.section12 *{
    margin: 0;
    text-align: right;
}
.section12{
    width: 85%;
    text-align: left;
    margin: 92px auto;
}
.c{width: 610px;}
h1{text-transform: uppercase;
    font: 900 150px/1 "Raleway", sans-serif;
    letter-spacing: 4px;
}
p.p1{    font: 100 24px/1 "Roboto", sans-serif;
    margin-top: 24px;
    line-height: 1.5;
    letter-spacing: 0.5px;}
.d{
    display: inline-block;
    margin-top: 13px;
    font: 800 24px "Roboto", sans-serif;
    color: #e10011;
}
.section12>img{
    display: block;
    margin: 103px auto;}
.section2{
    padding-top: 89px;
    width: 1200px;
    background: white;
    margin: 105px auto;
    text-align: center;
}
h3{
    font: 900 48px "Raleway", sans-serif;
    margin: 0 auto;
    letter-spacing: 1px;}
.i1{
    margin-top: 8px;}
.p2{width: 555px;
    font: 400 18px "Raleway", sans-serif;
    margin: 5px auto;
    letter-spacing: 0.4px;}