@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
@import "font-awesome";
//font-family: 'Josefin Sans', sans-serif;

@mixin h2($color: white) {
  font: 700 35px 'Raleway', sans-serif;
  text-transform: uppercase;
  color: $color;
  margin: 0;
}

body {
  margin: 0;
}

section {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.brohmano{
  background: url("../img/bg1.jpg") no-repeat center;
  background-size: cover;
  padding-top: 265px;
  height: 100vh;
  .text-inner{
    text-align: center;
    h1{
      margin: 0 auto 20px;
      font:700 48px 'Josefin Sans', sans-serif;
      color: white;
      text-transform: uppercase;
    }
    h3{
      margin: 0 auto 50px;
      font:400 22px 'Josefin Sans', sans-serif;
      color: white;
    }
    form{
      margin: 0 auto 120px;
      width: 650px;
      box-sizing: border-box;
      font-size: 0;
      .text{
        box-sizing: border-box;
        width: 500px;
        height: 60px;
        outline: none;
        border: none;
        font:400 14px 'Josefin Sans', sans-serif;
        text-align: center;
        line-height: 60px;
        padding: 0 15px;
        &::placeholder{
          font:400 14px 'Josefin Sans', sans-serif;
          color: #999999;
          text-align: center;
        }
      }
      .submit{
        height: 60px;
        width: 150px
        box-sizing: border-box;
        font:400 14px 'Josefin Sans', sans-serif;
        line-height: 56px;
        color: white;
        border: solid 2px white;
        padding-left: 30px;
        background: #5474fd url("../img/serch.svg") right 14px center no-repeat;
      }
    }
    .scroll{
      font:400 14px 'Josefin Sans', sans-serif;
      color: white;
      margin-bottom: 14px;
    }
  }
}