body{
    background: #f4f4f4;
}
form{
    margin: 0 auto;
    width: 600px;
    font-size:0;
}
input{
    margin: 0;
    display: inline-block;

}
input[type="text"]{
    width: 476px;
    height: 120px;
    border: 0;
    background: #f4f4f4;
    font-size: 70px;
}
main{width: 600px; }
article{
    display: inline-block;
}