body {
  margin: 0;
  padding: 0;
  aside {
    background: goldenrod;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 15px;
    .conteiner{
      padding: 3px;
      display: none;
      .item{
        background: rgba(56, 102, 203, 0.73);
        border: solid 2px #3c3c3c;
        border-radius: 3px;
        margin-top: 3px;
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
      }
    }
  }


}