@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../font/MuseoSansCyrl.otf");
}
*{font:100 14px "MuseoSansCyrl", sans-serif;
    user-select: none;
    cursor: default;}
body{
    background: url("../img/bg.jpg");
    background-size: cover;
}
.bg{
    background: url("../img/bg.jpg") no-repeat;
    width: 800px;
    height: 600px;
    margin: calc(50vh - 300px) auto;
}
.page{
    position: relative;
    width: 686px;
    height: 392px;
    margin: auto;
    background: #111a28;
    top: calc(50% - 196px);
    border-radius: 10px;
    box-shadow: 0px 0px 80px 0px rgba(17, 26, 40, 1);
}
.page-logo{
    position: absolute;
    top: 24px;
    left: 21px;
    }
.page-logo > *{cursor: pointer;}
.page-section1{
    width: 446px;
    float: left;
}
.page-section1__product{
    margin: 126px 0 0 35px;
}
.page-section1__color{
    margin: 65px 0 0 180px;
    user-select: none;
   }
.page-section1__color > *{
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 3px 0;
    vertical-align: middle;
    cursor: pointer;      /*Как сделать?*/
}
.page-section1__color > *:hover{
    width: 13px;
    height: 13px;
    border: 2px solid #7e838b;
    margin: 0;
}
.page-section1__color--item1{
    background: #1f273f;
    border: 1px solid white;
}
.page-section1__color--item2{
    background: white;
    border: 1px solid #111a28;
       }
.page-section1__color--item3{
     background: #ed3333;
    border: 1px solid #111a28;
      }
.page-section1__color--item4{
    background: #29e3ea;
    border: 1px solid #111a28;
    }
.page-section2{
    width: 240px;
    float: right;}
.page-section2__h1{
    font-size:24px;
    color: #e1e1e1;
    margin: 72px 0 6px;
}
.page-section2__p{
    font-size: 14px;
    color: #e1e1e1;
}
.page-section2-rating{padding-left: 0;
    margin: 22px 0;
    font-size: 0;}
.page-section2-rating > *{
    text-decoration: none;
    margin-left: 0;
    display: inline-block;
    cursor: pointer;}
li{
    display: inline-block;
    background: url("../img/star_pasiv.png");
    width: 12px;
    height: 12px;
}
ul:hover > li{
    background: url("../img/star_active.png");
}
li:hover  ~ li{
    background: url("../img/star_pasiv.png");
}
a:visited{background: url("../img/star_active.png");}
.page-section2-select > *{background: #111a28;
    color: #797d84;
    border: 1px solid #797d84;
cursor: pointer;}
.page-section2-select_size{
    width: 68px;
    height: 32px;
    padding-left: 7px;
}
.page-section2-select_qty{
    width: 67px;
    height: 32px;
    padding-left: 7px;
}
.page-section2-select-submit{
    width: 182px;
    height: 40px;
    margin-top: 30px;
}
.page-section2-select-submit:hover{
    background: #202835;
}