@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    margin: 0;
}

.content-inner {
    max-width: 1810px; /*чтобы небыло полосы прокрутки при меньшем экране*/
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}


header {
    height: 56px;
    position: absolute;
    width: 100%;
    top: 45px;
    z-index: 2;
}

header .content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    float: left; /*убрали пробел между ли*/
    margin-left: 35px;
    box-sizing: border-box;
    border-top: 2px solid transparent;
}

header ul li a {
    color: black;
    font: 700 16px 'Raleway', sans-serif;
    text-transform: uppercase;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li:hover {
    border-top: 2px solid red;
}

#logo {
    float: left;
}

a {
    text-decoration: none;
}

.main-section {
    background: #f9f8fb url("../img/img1.jpg") no-repeat center/auto;
}

.main-section .section-text {
    width: 33%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section > .content-inner {
    /*min-height: calc(100vh - 56px); !*если текста больше, то он тянется по контенту*!*/
    min-height: 100vh;
    display: flex;
    padding-top: 56px;
    padding-bottom: 80px;
    box-sizing: border-box;
    position: relative;
}
h3{font: 900 60px 'Raleway', sans-serif;
    margin-bottom: 35px;
    }
.main-section .p-white{
    margin-bottom: 35px;
}
#scroll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%); /*сдвиг элемента относительно своего размера*/
}

.button {
    text-transform: uppercase;
    color: white;
    background: #ff6033;
    min-width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.75);
}

.button:hover {
    background: orangered;
    box-shadow: none;
}
.main-section .button{
    background: #ff6033;}
#section-about {
    background: #00b9b9 url("../img/img1.png") no-repeat 8% 50%;
}

#section-about .content-inner {
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}

#section-about .section-text {
    min-width: 500px;
    width: 33%;
    text-shadow: 0 0 4px #00b9b9;
}

h2 {
    font: bold 90px 'Raleway', sans-serif;
    margin: 0;
}

.p-white {
    font: 300 17px 'Raleway', sans-serif;
    margin: 0;
}

#section-about h2 {
    margin-bottom: 40px;
    color: white;
}

#section-about .p-white {
    color: white;
    margin-bottom: 25px;
}

#section-about .p-white:last-child {
    margin: 0;
}

#our-services {
    background: #70bfff url("../img/img2.png") no-repeat 92% 50%;
}

#our-services .content-inner {
    min-height: 790px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
}

#our-services h2 {
    color: white;
}

#our-services .section-text {
    min-width: 400px;
    width: 33%;
}

#our-services a {
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font: bold 20px 'Raleway', sans-serif;
    text-align: center;
    color: black;
    padding-right: 130px;
    padding-left: 30px;
    display: flex;
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.55);
    position: relative;
}

#our-services a:after {
    display: block;
    content: '';
    position: absolute;
    right: 100px;
    height: 100%;
    width: 1px;
    background: black;
}

#our-services a:last-child {
    margin-bottom: 0;
}

#our-services a span {
    margin: auto;
}

#our-services a:hover {
    text-shadow: 4px 4px 2px #70bfff;
    box-shadow: none;
}

.os1 {
    background: white url("../img/icon1.png") no-repeat right 25px center;
}

.os2 {
    background: white url("../img/icon2.png") no-repeat right 20px center;
}

.os3 {
    background: white url("../img/icon3.png") no-repeat right 20px center;
}

.os4 {
    background: white url("../img/icon4.png") no-repeat right 20px center;
}

#gallery {
    background: #ffe92f;
}

#gallery .content-inner {
    padding-top: 100px;
    padding-bottom: 120px;
}

#gallery .section-text {
    min-width: 630px;
    width: 33%;
    margin: 0 auto 50px;
    text-align: center;
}

#gallery h2 {
    margin-bottom: 50px
}

.grid {
    font-size: 0;
    margin: 0 auto;
}

[class^='col'] {
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
}

.col-12 {
    width: 100%;
}

[class^='col'] > .row {
    margin: 0 -15px;
}

[class^='col'] .row:first-child {
    margin: -15px -15px 0;
}

[class^='col'] .row:last-child {
    margin: 0 -15px -15px;
}

.grid a {
    display: block;
    box-shadow: 2px 2px 9px 0px rgba(50, 50, 50, 0.75);
}

.grid a:hover {
    box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 1);
}

.grid {
    margin-bottom: 35px;
}

.c1 {
    background: url("../img/c1.jpg") center no-repeat;
    background-size: cover;
    height: 550px;
}

.c2 {
    background: url("../img/c2.jpg") center no-repeat;
    background-size: cover;
    height: 260px;
}

.c3 {
    background: url("../img/c3.jpg") center no-repeat;
    background-size: cover;
    height: 260px;
}

.c4 {
    background: url("../img/c4.jpg") center no-repeat;
    background-size: cover;
    height: 400px;
}

.c5 {
    background: url("../img/c5.jpg") center no-repeat;
    background-size: cover;
    height: 400px;
}

.button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font: 300 20px 'Raleway', sans-serif;
    text-align: center;
    background: #5585a2;
    width: 200px;
    height: 55px;
    line-height: 55px;
    box-shadow: 2px 2px 9px 0 rgba(50, 50, 50, 0.75);
}

.button:hover {
    box-shadow: none;
    text-shadow: 4px 4px 2px #70bfff;
    background: #47708c;
}

#subscribe {
    background: url("../img/img3.jpg") no-repeat right 50%;
    background-size: auto;
}

#subscribe .content-inner {
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#subscribe h4 {
    font: 700 40px 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 35px;
}

#subscribe p {
    margin-bottom: 35px;
    width: 570px;
}

form * {
    box-sizing: border-box;
    vertical-align: top;
}

#text {
    width: 570px;
    height: 55px;
    padding: 0 15px;
    margin-right: 30px;
}

#text::placeholder {
    font: 300 15px 'Raleway', sans-serif;
}

#submit {
    width: 170px;
    height: 55px;
    background: #96b92c;
    font: 300 20px 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    border: none;
    box-shadow: 2px 2px 9px 0 rgba(50, 50, 50, 0.75);
}

#submit:hover {
    box-shadow: none;
}

#blog {
    background: #b07cf7;
}

#blog .content-inner {
    padding-top: 100px;
    padding-bottom: 120px;
}

#blog .section-text {
    min-width: 565px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

#blog h2 {
    color: white;
    margin-bottom: 30px;
}

#blog .p-white {
    color: white;
    margin-bottom: 50px;
}

.secton-i {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 690px;
    margin: 0 auto 50px;
}
.secton-i a:hover{box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 1);}
.secton-i a:hover .info{
    background:linear-gradient(to top, rgba(50, 50, 50, 0.7), transparent);
}
.info{
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;}
.i1, .i2, .i3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 310px;
    width: 370px;
    box-shadow: 2px 2px 9px 0 rgba(50, 50, 50, 0.75);
    position: relative;
    margin-right: 20px;
}
.i3{margin-right: 0;}
.p1 {
    font: 700 20px 'Raleway', sans-serif;
    color: white;
}

.p2 {
    font: 300 13px 'Raleway', sans-serif;
    color: white;
}

.i1:before, .i2:before, .i3:before {
    display: block;
    width: 60px;
    height: 60px;
    background: rgba(50, 50, 50, 0.7);
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    font: 700 25px 'Raleway', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.i1 {
    background: url("../img/img40.jpg") no-repeat center;
}

.i1:before {
    content: '20 nov';
}

.i2 {
    background: url("../img/img41.jpg") no-repeat center;
}

.i2:before {
    content: '14 nov';
}

.i3 {
    background: url("../img/img42.jpg") no-repeat center;
}

.i3:before {
    content: '10 nov';
}

#blog .button {
    background: #f72b3b;
}

#contact {
    background: url("../img/img5.jpg") no-repeat;
    background-size: cover;
}

#contact .content-inner {
    min-height: 866px;
    padding-top: 100px;
}
#contact .section-text {
    margin: 0 auto 45px;
    text-align: center;
    width: 350px;
    }
#contact .p-white{
    margin-bottom: 50px;
}
#contact form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    margin-right: 170px;
}
#contact form *{
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 500px;
    height: 50px;
    background: rgba(0, 196, 196, 0.6);
    padding-left: 15px;
    border: none;
    border-left: 5px solid transparent;
    padding-right: 20px;
    line-height: 50px;
    font: 700 15px 'Raleway', sans-serif;
    color: white;
    }
#contact form *::placeholder{
    font: 300 15px 'Raleway', sans-serif;
    color: white;
    line-height: 50px;
}
#contact form :last-child{
    min-height: 250px;
    line-height: 50px;
    resize: none;
    }
#contact form *:focus{
    background: #00c4c4;
    border-left: 5px solid #355b82;
    outline: none;
}
#contact form,
#contact ul{
    display: inline-block;
    vertical-align: top;
}
#contact ul{
    padding-left: 0;
    margin: 0;
}
#contact ul li{
    list-style-type: none;
    margin-bottom: 25px;
}

.cc1{font: 700 17px 'Raleway', sans-serif;}
.cc2{font: 300 20px 'Raleway', sans-serif;}
footer{background: #262626;}
footer .content-inner{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b9b9b9;
    width: 100%;
}
.f1, .f3{
    font: 300 16px 'Raleway', sans-serif;
}
.f2{
    font:400 25px 'Pacifico', cursive;
}
.f4{
    font: 700 16px 'Raleway', sans-serif;
    color: #ff2b58;
}
@media all and (max-width: 1440px) {
    .main-section {
        background: #f9f8fb url("../img/img1.jpg") no-repeat center/auto; }
    .content-inner {
        max-width: 1350px;}
}

@media all and (max-width: 1280px) {
    .main-section {
        background: #f9f8fb url("../img/img1.jpg") no-repeat right -100px center/auto; }
    .content-inner {
        max-width: 1170px; }
    #section-about {
        background: #00b9b9 url("../img/img1.png") no-repeat 0 50%;
    }
}

@media all and (max-width: 1024px) {
    #our-services .content-inner {
        flex-direction: column;
    }
    #section-about {
        background: #00b9b9 url("../img/img1.png") no-repeat -237px 50%;
    }
    .col-4, .col-6, .col-8, .col-12 {
        width: 100%;
    }
    #gallery .row1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #gallery .row1 .col-4 {
        max-width: 100%;
    }
    #gallery .row1 .col-4 .row{

        display: flex;
        justify-content: space-between;
    }
    #subscribe {
        background: url("../img/img3.jpg") no-repeat right -130px center/auto;
    }
    #text {
        margin-bottom: 20px;
    }
    #contact .content-inner form {
        margin-right: 50px;
    }
}

@media all and (max-width: 720px) {
    .main-section {
        background: #f9f8fb url("../img/img1.jpg") no-repeat right -280px center/auto;
    }
    .main-section .section-text {
        text-shadow: 0px 0px 8px white;
    }
    .content-inner {
        max-width: 690px;
        padding: 0 10px;
    }
    #section-about .content-inner {
        align-items: center;
    }
    #section-about {
        background: #00b9b9;
    }
    #subscribe {
        background: url("../img/img3.jpg") no-repeat 100% 50%/auto;
        text-shadow: 0px 0px 8px white;
    }
    #subscribe p {
        background: rgba(255, 255, 255, 0.6);
    }
    #blog .content-inner .secton-i {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blog .content-inner .secton-i a{
        margin: 10px;
    }
    #contact .content-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact .content-inner .section-text{
        order: 1;
    }
    #contact .content-inner form {
        order: 3;
        margin-right: 0;
    }
    #contact .content-inner .contact {
        order: 2;
    }
    header ul li {
        margin-left: 20px;
    }
}