@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
body {
    margin: 0;
}

.content-inner {
    max-width: 1170px; /*чтобы небыло полосы прокрутки при меньшем экране*/
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

header {
    height: 56px;
    position: absolute;
    width: 100%;
}

header .content-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    float: left; /*убрали пробел между ли*/
}
#logo {
    float: left;
}
a {
    text-decoration: none;
}
.main-section {
    background: #f9f8fb url("../img/img1.jpg") no-repeat right center/auto;
    }
.main-section .section-text {
    width: 33%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-section > .content-inner {
    /*min-height: calc(100vh - 56px); !*если текста больше, то он тянется по контенту*!*/
    min-height: 100vh;
    display: flex;
    padding-top: 56px;
    padding-bottom: 80px;
    box-sizing: border-box;
    position: relative;
}
#scroll{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%); /*сдвиг элемента относительно своего размера*/
}
.button {
    text-transform: uppercase;
    color: white;
    background: #ff6033;
    min-width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.75);
}
.button:hover{
    background: orangered;
    box-shadow: none;
}
#section-about{
    background: #00b9b9 url("../img/img1.png") no-repeat 8% 50%;
}
#section-about .content-inner{
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
    }
#section-about .section-text{
    min-width: 500px;
    width: 33%;
    text-shadow: 0 0 4px #00b9b9;
}
h2{
    font: bold 90px 'Realway', sans-serif;
    margin:0;
}
.p-white{
    font: 300 17px 'Realway', sans-serif;
    margin:0;
}
#section-about h2{
    margin-bottom: 40px;
    color: white;
}
#section-about .p-white{
    color: white;
    margin-bottom: 25px;
}
#section-about .p-white:last-child{
    margin: 0;}
#our-services{
    background: #70bfff url("../img/img2.png") no-repeat 92% 50%;
}
#our-services .content-inner{
    min-height: 790px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#our-services h2{
    color: white;
}
#our-services .section-text{
    min-width: 400px;
    width: 33%;
    }
#our-services a{
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font: bold 20px 'Realway', sans-serif;
    text-align: center;
    color: black;
    padding-right: 130px;
    padding-left: 30px;
    display: flex;
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.55);
}
#our-services a:last-child{margin-bottom: 0;}
#our-services a span{ margin: auto;}
#our-services a:hover{
    text-shadow: 4px 4px 2px #70bfff;
    box-shadow: none;
}
.os1{
    background: white url("../img/icon1.png") no-repeat right 20px center;}
.os2{
    background: white url("../img/icon2.png") no-repeat right 20px center;}
.os3{
    background: white url("../img/icon3.png") no-repeat right 20px center;}
.os4{
    background: white url("../img/icon4.png") no-repeat right 20px center;}
#gallery{
    background: #ffe92f;
}
#gallery .content-inner{
    padding-top: 100px;
}
#gallery .section-text{
    min-width: 630px;
    width: 33%;
    margin: 0 auto 50px;
    text-align: center;
}
#gallery h2{margin-bottom: 50px}
.grid{
    font-size: 0;
    margin: 0 auto;
        }
[class^='col']{
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
}
.col-4{
    width: 33.33%;
}
.col-6{
    width: 50%;
}
.col-8 {
    width: 66.66%;
}
.col-12 {
    width: 100%;
}
[class^='col'] > .row{
    margin: 0 -15px;
}
[class^='col'] .row:first-child{
    margin: -15px -15px 0;
}
[class^='col'] .row:last-child{
    margin: 0 -15px -15px;
}
.grid a{
    display: block;}
.c1{
    background: url("../img/c1.jpg") center no-repeat;
    background-size: auto;
    height: 568px;
}
.c2{
    background: url("../img/c2.jpg") center no-repeat;
    background-size: auto;
    height: 268px;
}
.c3{
    background: url("../img/c3.jpg") center no-repeat;
    background-size: auto;
    height: 268px;
}
.c4{
    background: url("../img/c4.jpg") center no-repeat;
    background-size: auto;
    height: 408px;
}
.c5{
    background: url("../img/c5.jpg") center no-repeat;
    background-size: auto;
    height: 408px;
}


