*{
    outline: none;
}
textarea{
    resize: none;
}
input, textarea{
    padding: 5px;
    font: 16px arial san-serif;
    border: 1px solid gray;
}
input:focus, textarea:focus{
    border-color: darkblue;
}
input:hover, textarea:hover{
    border-color: darkgoldenrod;
}
textarea::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;}

input[type=checkbox]{
    display: none;
}
.styled_chb:before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #cccccc;
    vertical-align: middle;
}
input[type=checkbox]:checked + label:before{
    background: red;
}