main {
  p {
    font-size: 20px;
    span {
      color: red;
    }
  }
  div {
    background: #bbb;
    display: flex;
  }
  ul {
    margin: 0;
    li {
      display: inline-block;
      border-radius: 5px;
      @media all and (max-width: 1024px) {
        display: block;
      }
      a {
        text-decoration: none;
        &:hover {
          color: green;
        }
      }
    }
  }
}