* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 100%; }

body {
  font-family: sans-serif;
}

/* ---- grid ---- */
#portfolio{
  height: 100vh;
  background: #f3f3f3;
  .grid {
    width: 90vw;
    height: 175%; /* inherit height from body */
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-item {
    float: left;
    width: 270px;
    height: 361px;
    border: 2px solid #f3f3f3;
  }
  .grid-item--height2 { height: 229px; }
  .grid-item--height3 { height: 344px; }
  .grid-item--height4 { height: 374px; }
  .grid-item--height5 { height: 269px; }
  .grid-item--height6 { height: 301px; }
  .grid-item--height7 { height: 209px; }
  .grid-item--height8 { height: 357px; }
  .grid-item--height9 { height: 255px; }
}

