* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 100%; }

body {
  font-family: sans-serif;
}

/* ---- grid ---- */
#portfolio{
  height: 100vh;
  background: #f3f3f3;
  .grid {
    max-width: 1130px;

    //height: 965px; /* inherit height from body */
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-item {
    float: left;
    width: 280px;
    height: 371px;
    border: 5px solid #f3f3f3;
  }
  .grid-item--height2 { height: 219px; }
  .grid-item--height3 { height: 239px; }
  .grid-item--height4 { height: 354px; }
  .grid-item--height5 { height: 267px; }
  .grid-item--height6 { height: 311px; }
  .grid-item--height7 { height: 384px; }
  .grid-item--height8 { height: 265px; }
  .grid-item--height9 { height: 279px; }
}

