body {
  padding: 130px;
  background: gray;
  header{
    max-height: 1000px;
    margin: 0 auto;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 44px;
      height: 44px;
      background: url("../img/m1.png");
      left: -40px;
      top: 50%;
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background: url("../img/m2.svg");
      right: 15%;
      top: -30px;
    }
    h1 {
      font-size: 45px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    h4 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }
  section {
    .slide-contein {
      //.container{
      //  width: 440px;
      //  height: 400px;
      //  padding: 0 20px;
      //}
    }
  }
}