@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.section1:before {
    content: '';
    display: inline-block;}
.section1{
    background: url("../img/bg1.jpg") no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}
header{
    margin: 19px 0 0 130px;
}
a, ul, li{display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    margin: 0;
}
ul{
    margin-left: 200px;
    width: 550px;
    padding: 0;
}
li{
    list-style-type: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    width: 75px;
    text-align: center;
}
.qwe{

    font-size: 30px;
}
h1{
    font-size:46px;
    font-family: "MyriadProBold", sans-serif;
    text-transform: uppercase;
    color: white;
}